body {
  background-color: #00101F;
  font-size: 1.6em;
  color: black;
}

.container {
  background-color: #69849D;
  padding: 50px;
  magin-top: 25px;
}

.jumbotron {
  background-color: #DE7749;
  margin: 50px auto;
}

.jumbotron h1 {
  font-family: 'Asap', sans-serif;
  text-align: center;
}

h2 {
  font-family: 'Asap', sans-serif;
}

h4 {
  margin: 20px 0 75px 0;
}

.form-group {
  margin-top: 35px;
}

select {
  float: right;
  margin-right: 30%;
}

button {
  background-color: cornflowerblue;
  border-radius: 5px;
  font-size: 1.2em;
  color: white;
  padding: 5px 10px;
  margin: 50px auto;
}

.panel-body {
  padding: 20px;
}

.result-para {
  display: none;
}

.tie-result-para {
  display: none;
}
