body {
  background-color: #407F7F;
}

.container {
  background-color: #D46A6A;
  padding: 50px;
  magin-top: 25px;
}

.jumbotron {
  background-color: #D49A6A;
  margin: 50px auto;
}

.jumbotron h1 {
  font-family: 'Asap', sans-serif;
  text-align: center;
}

h2 {
  font-family: 'Asap', sans-serif;
}

h4 {
  width: 40%;
}

.form-group {
  margin-top: 35px;
}

select {
  float: right;
  margin-right: 40%;
}

.result-para {
  display: none;
}

.tie-result-para {
  display: none;
}

button {
  background-color: cornflowerblue;        /* #0D4D4D */
  border-radius: 5px;
  font-size: 1.2em;
  color: white;
  padding: 5px 10px;
  margin: 50px auto;
}
